@import url('https://fonts.googleapis.com/css?family=Inter:wght@100,200,300,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 30px 0 15px;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-bottom: rgba(116, 64, 26, .1) solid 1px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      a {
        margin: 0 20px;
        color: #74401A;
        text-decoration: none;
      }
    }
  }
}

.mobile-nav {
  display: none;
}

.hamburger {
	position: relative;
	display: none;
	width: 30px;
	cursor: pointer;
  margin-right: 20px;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: #74401A;
	margin: 6px 0px;
	transition: 0.4s;
  border-radius: 10px;
}

.hamburger.is-active:before {
	transform: rotate(-40deg) translate(-2px, 2px);
}

.hamburger.is-active:after {
	transform: rotate(40deg) translate(-3px, -5px);
}

.hamburger.is-active .bar {
	opacity: 0;
}


section {
  padding: 0 0 190px;
  padding-top: 5rem;
}

.heading, .who {
  width: 100%;
  text-align: center;
  color: #74401A;
  margin-bottom: 100px;
  h2 {
    font-size: 40px;
    font-weight: 800;
  }
  span {
    font-size: 20px;
    font-weight: 600;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.full_course {
  .wrap {
    color: white;
    margin-right: 50px;
    .course {
      background-color: #74401A;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      padding: 70px 80px;
      h3 {
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 40px;
        text-align: center;
        span {
          opacity: .5;
          text-decoration: line-through;
          padding-right: 11px;
        }
      }

      ul li {
        font-weight: 300;
        line-height: 22px;
      }

      .btn {
        margin-top: 20px;
        a {
          background-color: white;
          padding: 5px 70px;
          border-radius: 20px;
          font-size: 19px;
          text-decoration: none;
          color: #74401A;
        }
      }
    }
  }
}

main {
  #home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    .image {
      padding: 0 50px;
      width: 600px;
      img {
        width: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
      color: #74401A;
      .title {
        margin-bottom: 70px;
        h1 {
          font-size: 70px;
          font-weight: 900;
        }
        span {
          font-size: 60px;
        }
      }
      .target {
        width: 540px;
      }
    }
  }

  #course {
    .content {
      div {
        width: 420px;
        margin: 0 50px;
        h3 {
          font-size: 25px;
          color: #74401A;
          margin-bottom: 20px;
          a {
            color: #74401A;
          }
        }
      }
    }

  }

  #offers {
    .content {
      display: flex;
      align-items: center;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        .count {
          color:#74401A;
          display: flex;
          margin-top: 20px;
          .box {
            display: flex;
            margin: 5px;
            h2 {
              line-height: 14px;
            }
          }
        }
      }
    }
  }

  #content {
    .div {
      width: 40%;
      .box {
        margin: 0 30px 50px;
        .head {
          background-color: #74401A;
          color: white;
          border-radius: 30px;
          padding: 10px 20px;
          font-size: 20px;
          margin-bottom: 10px;
          h4 {
            font-weight: 600;
          }
        }
        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            width: 500px;
          }
        }
      }
    }
  }
}

footer {
  .content {
    margin-bottom: 85px;
    align-items: center;
    .pic img {
      width: 486px;
      border-radius: 30px;
    }

    .text {
      margin: 0 50px;
      .who {
        width: 486px;
        h2 {
          margin-bottom: 30px;
        }
        p {
          text-align: start;
        }
      }

      .heading {
        margin-bottom: 15px;
      }

      .socials {
        display: flex;
        justify-content: center;
        a img {
          width: 30px;
          margin: 0 5px; 
        }
      }
    }
  }

  .bottom {
    text-align: center;
    margin-bottom: 15px;
    .note {
      margin-bottom: 85px;
      h3 {
        font-size: 25px;
        color: #74401A;
      }
    }
  }
}

.pay {
  button {
    cursor: pointer;
  }
  .content {
    .full_course {
      .wrap {
        width: 500px;
        .course {
          padding: 10px;
          background-color: transparent;
          color:#74401A;
          ul li {
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
    }
    .gcash {
      width: 500px;
      margin-right: 50px;
      img {
        width: 100%;
        border-radius: 50px;
      }
    }
    .paypal {
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 30px 0;
      color: #74401A;
      h3 {
        font-size: 35px;
        text-align: center;
        font-weight: 900;
      }
      .one {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 80%;
          margin-bottom: 20px;
        }
        p {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  .bottom {
    text-align: center;
    color: #A74F4F;
  }
}

.back {
  font-size: 20px;
  padding: 20px 50px 0;
  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #74401A;
  }
  a {
    text-decoration: none;
    color: #74401A;
  }
}

.ty {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cancel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  section {
    padding: 0 0 130px;
  }
  .heading, .who {
    margin-bottom: 70px;
    h2 {
      font-size: 35px;
    }
    span {
      font-size: 18px;
    }
  }
  .full_course .wrap {
    margin-right: 0;
    margin-bottom: 30px;
    .course {
      padding: 40px 70px;
      h3 {
        font-size: 27px;
      }
    }
  }
  main {
    #home {
      .text {
        padding: 0 30px 0 0;
        .title {
          h1 {
            font-size: 55px;
          }
          span {
            font-size: 40px;
          }
        }
      }
      .image {
        width: 50%;
        padding: 0 20px;
      }
    }
    #offers .content {
      flex-direction: column;
    }
    #content {
      padding: 0 0 100px;
    }
  }
  footer {
    .content {
      flex-direction:column-reverse;
      .text {
        margin-bottom: 30px;
      }
    }
    .bottom {
      .note {
        padding: 0 5rem;
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
        }
      }
      .copyright {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .heading, .who {
    margin-bottom: 50px;
    h2 {
      font-size: 30px;
    }
    span {
      font-size: 18px;
    }
  }
  main {
    #home {
      flex-direction: column-reverse;
      margin: 40px 0;
      .image {
        width: 40%;
      }
      .text {
        padding: 0;
        margin-bottom: 30px;
      }
    }
    #course .content div {
      margin: 0 30px;
      width: 350px;
    }
    #offers .content .left .voucher {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
    #content .div .box .head h4 {
      font-size: 18px;
    }
  }
  footer .content {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  section {
    padding: 0 0 90px;
  }
  .full_course .wrap {
    margin-right: 0;
    margin-bottom: 30px;
    .course {
      padding: 40px 50px;
      h3 {
        font-size: 25px;
        margin-bottom: 20px;
      }
    }
  }
  main {
    #home {    
      margin: 0;
      .text {
        .title {
          margin-bottom: 30px;
          h1 {
            font-size: 40px;
          }
          span {
            font-size: 30px;
          }
          p {
            font-size: 15px;
          }
        }
      }
      .image {
        width: 30%;
        padding: 0;
      }
    }
    #course .content {
      div {
        width: 100%;
        margin: 0;
        padding: 0 50px;
      }
      .what {
        margin-bottom: 20px;
      }
    }
    #offers .content .left .voucher img {
      width: 70%;
    }
    #content {
      padding: 0 50px 30px;
      .div {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    padding: 15px 50px;
    ul {
      display: none;
    }
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55px;
    right: -100%;
    width: 50%;
    height: 100vh;
    z-index: 10000;
    transition: .4s;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    border-left: rgba(116, 64, 26, .2) .5px solid;
    a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      color: rgb(115, 109, 131);
      transition: .4s;
      line-height: 20px;
      width: 100%;
      padding: 15px 0 15px 30px;
      &:hover {
        color:#8f4b1b;
      }
    }
  }

  .mobile-nav.is-active {
    right: 0;
  }
  
  .hamburger {
    display: block;
  }
}